*,
*::after,
*::before {
margin: 0px;
padding: 0px;

box-sizing: inherit;
}

html{

    font-size: 62.5%;
    @include respond(tab-landscape) {
        font-size: 56.25%;              //1rem=9px 9/16=50
    }

    @include respond(tab-potrait) {
        font-size: 50%;                 //1rem=8px 8/16=50
    }
   
    @include respond(big-desktop) {
        font-size: 75%;                 //1rem=12px 12/16
    }

}
body {   
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-potrait) {
        padding: 0;
                       
    }
}
