$primary-color-grey:#5a5a58;
$primary-color-dark:#0c0c0c;

$about-orange:rgba(228, 113, 19, 0.87);
$about-red:rgba(241, 6, 6, 0.87);

$about-white-light:#f7f7f7;

$color-bottom:rgb(37, 168, 81);


$card-color-1:#ff4800;
$card-color-2:#15f733;

$card-color-3:#2998ff;
$card-color-4:#fa0000;

$card-color-5:#ffe600;
$card-color-6:#ff0000;



$color-grey:#777;
$color-grey-1:#999;
$color-white:#fff;
$color-black:#000;

//grid
$width: 114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;